
body{
	background-color: #DDD;
}

.div-benefice{   
  margin-left : 9em;
  margin-right : 9em;
  
	padding: 10px;
  max-height : 15em;

	font-family: sans-serif;
	font-size: 1em;
	color: #333;
	background-color: #EEE;
  
}

.picture-left{
	float: left;
  
  margin : auto;
  width : 10%;
}


.paragraph-right {
    vertical-align:middle;
    margin : 0% 10% 20% 40%;
    margin-top : 50px;
    margin-left : 20%;
}
